{{#if navigation.length}}
<ul class="menu-list">
    {{#each navigation}}
    <li data-depth="{{or ../level 0}}">
        {{#if ./content}}
        {{#if ./items.length}}
        <button class="nav-toggle"></button>
        {{/if}}
        {{#if ./url}}
        <a {{#if (eq @root.page.url ./url)}}class="is-active"{{/if}} href="{{~#if (eq ./urlType 'internal')}}{{{relativize @root.page.url ./url}}}{{~else}}{{{./url}}}{{~/if}}">{{{./content}}}</a>
        {{else}}
        <span {{#if (eq @root.page.url ./url)}}class="is-active"{{/if}}>{{{./content}}}</span>
        {{/if}}
        {{/if}}
        {{> navigation-tree navigation=./items level=(increment ../level)}}
    </li>
    {{/each}}
</ul>
{{/if}}
